{% extends "layout.html" %}

{% block title %}
    Spelling checker
{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='spellScript.js') }}"></script>
{% endblock %}

{% block main %}
<h2>Spell Checker</h2>
<div id="body">
    <div class="textarea">
        <textarea id="inTxt" class="form-control" size="100%" name="textin" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" rows="5" placeholder="Enter your text here."></textarea>
    </div>
    <div>
        <button id="splBtn" class="form-control" name="check">Check!</button>
    </div>
    <div class="textarea" id="outTxt"><span style="color: gray">The Results will show here!</span>
    </div>
</div>
<div id="footer">Powered by <a href="https://azure.microsoft.com/en-us/services/cognitive-services/spell-check/">Bing spell check API</a></div>
{% endblock %}